<section>
  <h2 class="text-center">Vowel Counter</h2>

  <div>
    <div class="form-group row">
      <label class="col-3 col-form-label" for="inputText">Input</label>
      <div class="col-9">
        <textarea rows="10" id="inputText" [(ngModel)]="inputText" required="required" class="text-monospace form-control"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="words" class="col-3 col-form-label">Every words</label>
      <div class="col-2">
        <input id="words" name="words" type="number" placeholder="Count every x words" [(ngModel)]="words" required="required" class="form-control" />
      </div>
    </div>

    <div class="form-group row">
      <label for="vowels" class="col-3 col-form-label">Every vowels</label>
      <div class="col-2">
        <input id="vowels" name="vowels" type="number" placeholder="Count words with y or more vowels" [(ngModel)]="vowels" class="form-control" />
      </div>
    </div>

    <div class="form-group row">
      <label for="lines" class="col-3 col-form-label">Every lines</label>
      <div class="col-2">
        <input id="lines" name="lines" type="number" placeholder="Every z lines" [(ngModel)]="lines" class="form-control" />
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-3 col-9">
        <button class="btn btn-primary" (click)="countVowels()">Count</button>
      </div>
    </div>

    <h4>Results</h4>
    <div class="form-group row">
      <label class="col-3 col-form-label">Lines</label>
      <div class="col-2">
        <p class="text-monospace">{{ resultLines }}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-3 col-form-label">Words</label>
      <div class="col-9">
        <p class="text-monospace">{{ resultWords }}</p>
      </div>
    </div>
  </div>
</section>
